rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthor(bookId) {
      return request.auth.uid in get(/databases/$(database)/documents/books/$(bookId)).data.authors;
    }

		function isPublic(bookId) {
      return get(/databases/$(database)/documents/books/$(bookId)).data.public == true;
    }
    
    // Protection des utilisateurs
    match /users/{userId}/{document=**} {
      allow read;
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }
    // Protection des livres
    match /books/{bookId}/{document=**} {
      allow read;
      allow write, delete, create: if isAuthor(bookId);
    }
  }
}