<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467577218262-65nh2ctdln5hvb7v3sdumq2p1pvh63tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467577218262-65nh2ctdln5hvb7v3sdumq2p1pvh63tm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>467577218262-03sqn5hpp370v4adtfuigj3esjcm32sq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPcwjfoAVaerCOryoNJ74VwFM3BEUMIY4</string>
	<key>GCM_SENDER_ID</key>
	<string>467577218262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blockup.noetic</string>
	<key>PROJECT_ID</key>
	<string>noetic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>noetic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467577218262:ios:1345a87e69286d33f8d577</string>
	<key>DATABASE_URL</key>
	<string>https://noetic-app.firebaseio.com</string>
</dict>
</plist>