.header {
  background-image: url('../../../assets/banner.png');
  background-size: cover;
  height: 25vh;
  padding-top: 1px;
}
.header h2 {
  color: white;
  font-weight: bold;
  text-align: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.followings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followings p {
  color: white;
  margin: 8px 0px 0px 0px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: -20vh;
}

.tweet {
  margin-top: -10px;
}
.tweet ion-label {
  line-height: 1!important;
  font-size: 15px;
  margin: 6px 0px 6px 0px!important;
  min-height: 34px;
}
.tweet-img {
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;
}
i {
  color: #2196F3;
  font-weight: 800;
}

ion-avatar {
  width: 20vh;
  height: 20vh;
}

.subscribe {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

ion-select {
  max-width: 100% !important;
}

.stars {
  margin-left: 5px;
  margin-right: 5px;
}

.headerButton {
  opacity: 0.7;
   color: white;
}