.padding {
  align-items: center;
  width: 80%;
}

.logo ion-icon{
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img{
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
  height: 3em;
}
// ion-content {
//   // --ion-background-color: linear-gradient(#6DD5FA, #2980B9);
//   --ion-background-color: linear-gradient(#3c2d92, #3311f1);
//   // --ion-background-color: linear-gradient(#485563, #29323c);
// }
ion-item {
  --ion-background-color: transparent!important;
}
.flex {
  display: flex;
  justify-content: space-between;
}