.card {
  margin: 0;
}

.center
{
    height: 40px;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center;
}

p {
  margin: 0;
  font-size: 80%;
  color: white;
}
.header {
  position: relative;
  top: -40px;
  background-color: rgba(0,0,0,0.5);
}

div {
  margin: 0;
}
